#font-face {
  font-family: 'Rampart One';
  src: url('.\fonts\rampart_one.ttf'),
  url('.\fonts\rampart_one.eot'),
  url('.\fonts\rampart_one.svg'),
  url('.\fonts\rampart_one.woff'),
  url('.\fonts\rampart_one.woff2');
}

:root
{
  --text-color: #ffffff;
  --emph-text-color: #cc80ff;
  --background-color: #0f0f0f;
  --emph-background-color: #131313;
}

.rampart
{
  font-family: 'Rampart One';
}

*
{
  list-style-type: none;
  text-decoration-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: var(--text-color);
}

body
{
  background-color: var(--background-color);
}

header, header a
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header
{
  background-color: var(--emph-background-color);
  min-height: 3em;
  font-size: 1.5em;
  padding: 0 1em;
  text-shadow: var(--emph-text-color) 0 0 5px, var(--emph-text-color) 2px 0 5px, var(--emph-text-color) 2px 2px 5px;
  border-bottom: solid 1px var(--emph-text-color);
}

header .left, header .center, header .right
{
  min-width: 33.33%;
  display: flex;
  align-items: center;
}

header .left
{
  justify-content: left;
}
header .center
{
  justify-content: center;
}
header .right
{
  justify-content: right;
}
header .right a
{
  margin-left: 10px;
  color: white;
}

header img
{
  height: 30px;
  width: 30px;
}