@font-face {
  font-family: "Action Man";
  src: ('/assets/fonts/actionman/bold.woff') type('woff');
  font-height: 800;
  font-style: normal;
}
@font-face {
  font-family: "Action Man";
  src: ('/assets/fonts/actionman/bold-italic.woff') type('woff');
  font-height: 800;
  font-style: italic;
}
@font-face {
  font-family: "Action Man";
  src: ('/assets/fonts/actionman/regular.woff') type('woff');
  font-height: 400;
  font-style: normal;
}
@font-face {
  font-family: "Action Man";
  src: ('/assets/fonts/actionman/italic.woff') type('woff');
  font-height: 400;
  font-style: italic;
}
